body {
    background-image: url(Images/BG/BG.jpg);
    background-size: cover;
    background-position: center;
}
main {
    padding-left: 10px;
    padding-right: 10px;
}
.PiePagina {
    
    color: white;
    padding: 70px; 
    text-align: center;
    font-size: 10px;
}

.Encabezado {    
    color: #fff;
    padding: 20px;
    text-align: center;
}

.Tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.Tab {
    cursor: pointer;
    padding: 8px;
    padding-left: 15px;
    width: 150px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    height: 3rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem 1rem 0 0;
    color: white;
    margin: 0 10px 0 0;
}

.Tab:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.Contenedor {
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid white;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

#Desencriptador {
    display: none;
}

.split-container {
    display: flex;
    height: 50vh;
}
.split-container-botones {
    display: flex;
    height: 10vh;
}
.botoncontainer {
    flex: 1;
    text-align: left;
    padding:10px;
}
.left-side,
.right-side {
    flex: 1;
    padding: 10px;
}
textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    resize: none;
    background-image: url(Images/BG/BG.jpg);
    font-family: Tahoma, Geneva, sans-serif;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 800px) {

    .Tab {
       font-size:30px;
    }
    .split-container {
        flex: 1;
        display: flex;
        flex-direction: column; /* Cambiado a disposición vertical */
    }

    .top-side,
    .bottom-side {
        flex: 1;
        overflow: auto;
        padding: 10px;
        box-sizing: border-box;
    }
    .boton {
        font-size: 25px;
    }

}